{% extends "admin/base_site.html" %}
{% load admin_urls %}

{% block extrahead %}
      {{ block.super }}
      <script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
      <script>
            var opts = {
                  angle: 0.15,
                  lineWidth: 0.44,
                  radiusScale: 1,
                  pointer: {
                        length: 0.6,
                        strokeWidth: 0.035,
                        color: '#000000'
                  },
                  limitMax: true,
                  limitMin: true,
                  percentColors: [[0.0, "#eb0f00" ], [0.49, "#eb0f00" ], [0.89, "#ffa400"], [1.0, "#0cce6b"]],
                  strokeColor: '#E0E0E0',
                  highDpiSupport: true,
            };
      </script>
{% endblock %}

{% block extrastyle %}
      {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
      {% if not is_popup %}
            <div class="breadcrumbs">  
                  <a href="../../../../../../">Home</a> ›
                  <a href="../../../../../">{{ opts.app_label|capfirst|escape }}</a> ›
                  <a href="../../../../">{{ opts.verbose_name_plural|capfirst }}</a> ›
                  <a href="../../../">{{ environment }}</a> ›
                  Dashboard
            </div>
      {% endif %}
{% endblock %}

{% block content %}
        <div>
            <p>Date: {{report_group.created}}</p>

            <div style="width: 50%; float: left; display: inline-block;">
                  <h2>Mobile Overall Score: {{mobile_reports_avg}}</h2>
                  <canvas id="overall-mobile-gauge" width="300" height="100"></canvas>
            </div>
            <div style="width: 50%; float: left; display: inline-block;">
                  <h2>Desktop Overall Score: {{desktop_reports_avg}}</h2>
                  <canvas id="overall-desktop-gauge" width="300" height="100"></canvas>
            </div>
            
        </div>
      
      <div>
            <div style="width: 50%; float: left; display: inline-block;">
                  <ul>
                        <h2>Mobile Reports:</h2>
                        {% for report in mobile_reports %}
                              <li>
                              {{report.url.name}} - Score: {{report.score}}
                              <br>
                              <canvas id="overall-{{report.url.name}}-mobile-gauge" width="300" height="100"></canvas>
                              </li>
            
                              <script>
                                    var target = document.getElementById('overall-{{report.url.name}}-mobile-gauge');
                                    var gauge = new Gauge(target).setOptions(opts);
                                    gauge.maxValue = 100;
                                    gauge.setMinValue(0);
                                    gauge.animationSpeed = 32;
                                    gauge.set({{report.score}});
                              </script>
                        {% endfor %}
                  </ul>
            </div>
            <div style="width: 50%; float: left; display: inline-block;">
                  <ul>
                        <h2>Desktop Reports:</h2>
                        {% for report in desktop_reports %}
                              <li>
                              {{report.url.name}} - Score: {{report.score}}
                              <br>
                              <canvas id="overall-{{report.url.name}}-desktop-gauge" width="300" height="100"></canvas>
                              </li>
            
                              <script>
                                    var target = document.getElementById('overall-{{report.url.name}}-desktop-gauge');
                                    var gauge = new Gauge(target).setOptions(opts);
                                    gauge.maxValue = 100;
                                    gauge.setMinValue(0);
                                    gauge.animationSpeed = 32;
                                    gauge.set({{report.score}});
                              </script>
                        {% endfor %}
                  </ul>
            </div>
      </div>
{% endblock %}

{% block footer %}
      {{ block.super }}
      <script>
            var mobileTarget = document.getElementById('overall-mobile-gauge');
            var desktopTarget = document.getElementById('overall-desktop-gauge');
            
            var mobileGauge = new Gauge(mobileTarget).setOptions(opts);
            var desktopGauge = new Gauge(desktopTarget).setOptions(opts);

            mobileGauge.maxValue = 100;
            desktopGauge.maxValue = 100;

            mobileGauge.setMinValue(0);
            desktopGauge.setMinValue(0);

            mobileGauge.animationSpeed = 32;
            desktopGauge.animationSpeed = 32;

            mobileGauge.set({{mobile_reports_avg}});
            desktopGauge.set({{desktop_reports_avg}});
      </script>
{% endblock %}